<div class="container w-75">
    <div class="container btn-group mt-3 mb-3 text-center" role="group">
        <div class="btn" (click)="switchContent('edit')" 
        [ngClass]="{'btn-active': boton === 'edit', 'btn-inactive': boton !== 'edit'}">
            Editar datos de perfil
        </div>
        <div class="btn" (click)="switchContent('image')" 
        [ngClass]="{'btn-active': boton === 'image', 'btn-inactive': boton !== 'image'}">
            Editar imagen de perfil
        </div>
        <div class="btn btn-principal mr-3" *ngIf="usuariosService.getRole() === 'logopeda'" (click)="switchContent('especialidad')"
        [ngClass]="{'btn-active': boton === 'especialidad', 'btn-inactive': boton !== 'especialidad'}">
            Mis especialidades
        </div>
    </div>
    <div *ngIf="usuariosService.getRole() === 'logopeda'">
        <app-form-especialidad *ngIf="boton === 'especialidad'"></app-form-especialidad>
    </div>
    <app-form-edit-perfil *ngIf="boton === 'edit'"></app-form-edit-perfil>
    <app-form-image *ngIf="boton === 'image'"></app-form-image>
</div>