<section class="logopedas">
    <div class="logopedas_wrapped">
        <article *ngFor="let logopedas of arrLogopedas, let i = index" class="logopedas_card">
            <div class="card_above">
                <div class="card_iamgen">
                    <img src="{{getProfileImage(logopedas?.imagen)}}" width="110px" alt="ImagenLogopeda">
                </div>
                <div class="card_info">
                    <h5> {{logopedas?.nombre}} {{logopedas.apellidos}} </h5>
                    <p class="info_des"> {{logopedas?.descripcion}} </p>
                    <p class="info_exp">Experiencia: {{logopedas?.experiencia}} </p>
                </div>
            </div>

            <div class="card_bellow">
                <p *ngIf="localidad[i]"> {{localidad[i]}}  </p>
                <p><b>Precio/Hora:</b> {{logopedas?.precio | currency:'EUR'}} </p>

                <p [ngStyle]="{'background-color': colorStatus(logopedas?.status)}" class="bellow_status"> {{logopedas?.status}} </p>
                
            </div>
            
        </article>
    </div>

</section>
