* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

.main {
    display: flex;
    flex-direction: column-reverse;

}

.main_w-list {
    flex-grow: 5;
}

.main__w-map {
    flex-grow: 1;
    margin-top: 2cap;
}

.main_w-edad {
    margin-right: 5cap;
    text-align: center;

}

.btn {
    padding-right: 8cap;
}

.btn-principal,
.btn-inactive {
    background-color: #60bbdd;
    color: white;

}

.btn-principal:hover,
.btn-inactive:hover {
    background-color: #216a92;
}

.btn-active {
    background-color: #216a92;
    color: white;
}


@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .main {
        flex-direction: row;
    }
}