* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column-reverse;
}

.main_w-edad {
    margin-right: 5cap;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.btn {
    padding-right: 8cap;
}

.btn-principal,
.btn-inactive {
    background-color: #60bbdd;
    color: white;

}

.btn-principal:hover,
.btn-inactive:hover {
    background-color: #216a92;
}

.btn-active {
    background-color: #216a92;
    color: white;
}


@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .main {
        flex-direction: row;

    }
}