<div class="panel">
    <div class="usuario">
        <div class="usuario_imagen">
            <img src="{{getProfileImage()}}" height="143" width="142" alt="">
        </div>

        <h2 class="usuario_nombre">{{miLogopeda.nombre}} {{miLogopeda.apellidos}}</h2>
        <div class="usuario_rol">Logopeda</div>

        <!--  <h2 class="usuario_nombre">{{user.nombre}} {{user.apellido}}</h2> 
            <div class="usuario_rol">{{ userRol() }}</div>  -->


    </div>

    <div class="informacion">
        <div class="inf_options">
            <ul>
                <!-- [routerLink]="['informacion',idLogopeda]"    -->
                <!--  <li [routerLink]="['/perfil',idLogopeda,'informacion']">   -->
                <!--   [routerLink]="['informacion']"    -->
                <li (click)="cambiaEstado('informacion')">
                    <b><a href=""></a>Informaci&oacute;n</b>


                </li>
                <li (click)="cambiaEstado('comentarios')">
                    <b><a href=""></a>Comentarios</b>

                </li>
            </ul>
        </div>

        <div class="inf_result">

            <div *ngIf="typeOption; then typeInformacion else typeComentarios"></div>
            <ng-template #typeInformacion>
                <app-informacion></app-informacion>
            </ng-template>

            <ng-template #typeComentarios>
                <app-comentarios></app-comentarios>
            </ng-template>


            <router-outlet></router-outlet>
        </div>

    </div>
</div>