<div class="main_w-edad d-flex flex-row mt-3 justify-content-center">
    <ul class="nav nav-pills text-center mx-3">
        <li class="nav-item pt-2 pr-2">
        <span class="nav-link disabled">Filtrar logopedas por</span>
        </li>
        <li class="nav-item p-2">
        <a class="nav-link" [ngClass]="{'btn-active': activo === 'todos','btn-inactive': activo !== 'todos'}" href="/home">Top mejor puntuados</a>
        </li>
        <li class="nav-item p-2">
        <a class="nav-link" [ngClass]="{'btn-active': activo === 'infancia','btn-inactive': activo !== 'infancia'}" href="/home/infancia">Infancia</a>
        </li>
        <li class="nav-item p-2">
        <a class="nav-link" [ngClass]="{'btn-active': activo === 'adulto','btn-inactive': activo !== 'adulto'}" href="/home/adulto">Adulto</a>
        </li>
        <li class="nav-item dropdown p-2">
        <app-lista-especialidades></app-lista-especialidades>
        </li>
    </ul>
</div>