<!-- <section class="notificaciones">
    <article *ngFor="let notificacion of arrPendientes">
        <div class="clientCard" >

            <div class="card_wrapped">
                <div class="card_imagen">
                    <img src="../../../../../assets/images/foto.png"  width="110px" alt="iamgenCliente">
                </div>
          
            <div class="card_information">
                <h5 class=""> {{notificacion?.nombre}} {{notificacion?.apellidos }} </h5>
                <p><b>Email: </b> {{notificacion?.email}} </p>
                <p><b>Localidad: </b> {{notificacion?.localidad}} </p>
            </div>
              
            </div>
        </div>
            
    </article>

</section> -->

<section class="notificaciones">
    <div class="notificaciones_wrapped" *ngFor="let cli of arrPendientes">
        <app-clientes-card [clientes]="cli"></app-clientes-card>
    </div>
    
</section>
