
<div class="clientCard" >
  <div class="card_wrapped">
    <div class="card_imagen">
      <img src="../../../../../assets/images/foto.png"  width="110px" alt="iamgenCliente">
    </div>

    <div class="card_information">
      <h5 class=""> {{clientes?.nombre}} {{clientes?.apellidos }} </h5>
      <p><b>Email: </b> {{clientes?.email}} </p>
      <p><b>Localidad: </b> {{clientes?.localidad}} </p>
      <p><b>Fecha de inicio:</b> {{clientes?.fecha_inicio | date: 'shortDate'}} </p>
      <button *ngIf="!solicitud" (click)="finalizar()" class="btn btn-danger card_end">FINALIZAR</button>
    </div>
  </div>
  
  <div *ngIf="solicitud" class="card_solicitud">
    <button (click)="aceptar()" type="button" class="btn btn-success card_button">Aceptar</button> 
    <button type="button" class="btn btn-danger card_button" (click)="rechazar()">Rechazar</button>
  </div>
</div>


