<div class="panel">
    <!-- div para imagen, nombre y logopeda -->
    <div class="usuario">
        <div class="usuario_imagen">
            <img src="../../../../assets/images/logo1.png" height="143" width="142" alt="">
        </div>

        <h2 class="usuario_nombre"> {{user?.nombre}} {{user?.apellidos}}</h2>  
        <h3 class="usuario_rol">{{ userRol() | uppercase }}</h3>  
        


    </div>

    <div class="informacion">
        <div class="inf_options">
            <ul class="">
                <li [routerLink]="['clientes']" routerLinkActive="active" *ngIf="userRol() === 'logopeda'" class=""><b><a href=""></a>Mis clientes</b></li> <!--! LINK  COMPONENT  -->
                <li [routerLink]="['notificaciones']" routerLinkActive="active" *ngIf="userRol() === 'logopeda' " class=""><b><a href=""></a>Notificaciones</b></li> <!--! LINK  COMPONENT  -->

                <li [routerLink]="['logopedas']" routerLinkActive="active" *ngIf="userRol() === 'cliente' " class=""><b><a href=""></a>Mis Logopedas</b></li> <!--! LINK  COMPONENT  -->
                <!-- TODO ME FALTA EL NG IF ROL -->
                <li [routerLink]="['perfil']" routerLinkActive="active"  class=""><b><a href=""></a>Editar Perfil</b></li>

                <!-- ADMINISTRADOR ACEPTA A LOS PROFESORES -->
                <!-- ADMINSITRADOR CAMBIA A LOS CLIENTES -->
                
            </ul>
        </div>

        
        <div class="inf_result">
            <router-outlet></router-outlet>
        </div>
    </div>




    
</div>
