*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.usuario{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usuario_imagen{
    position: relative;
    height: 80px;
}

.usuario_imagen img{
    position: relative;
    z-index: 1;
    top: -60px;
    border-radius: 50%;
    border: 5px solid #fdf7e0;
}

.usuario_rol{
    font-size: 24px;
}

/* LA PARTE DE LA INFORAMCIÓN */

.informacion{
    display: flex;
    max-width: 1500px;
    margin: auto;
    margin-top: 3vw;
    padding-left: 3vw ; 
    padding-right:3vw ;
}


li{
    position: relative;
    cursor: pointer;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

li::after{
    content: '';
    width: 0%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #60BBDD;
    transition: width 0.3s;
}

li:hover::after{
    width: 100%;
}

.active::after{
    content: '';
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #60BBDD;
    transition: all 0.3s; 
}


ul{
    padding-right: 2vw;
    border-right: 2px solid grey;
}

.inf_result{
     flex-grow: 1;
}



@media (max-width: 970px){
    .usuario_imagen{
        position: relative;
        height: auto;
    }

    .usuario_imagen img{
        position: static;
    }

    /* INFORMACION */

    .informacion{
        flex-direction: column;
    }

    .inf_options ul{
        display: flex;
        justify-content: space-around;
        
    }
    
    ul{
        border-right: none;
    }
}




@media (max-width: 400px){
    .informacion{
    padding-left: 1.5vw ; 
    padding-right:1.5vw ;
    } 

    ul{
        padding-right: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 10px;
    }

    li{
        display: flex;
    }
    b{
        text-align: center;
    }
    

    
    
    

}