<div class="d-flex">
    <div class="w-logo flex-fill p-3 sticky-top">
        <div class="row justify-content-center">
            <img src="assets/images/logo1.png" class="img-fluid logo_img">
            <p class="h1 text-center">LogopedasApp</p>
            <!-- TODO: a borrar -->
            <!--<div>(Hay token? {{ usuariosService.isLogged() }} Hay rol? {{ usuariosService.getRole() }})</div>-->
        </div>
    </div>
    <div class="w-form flex-fill p-3">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="w-50">
            <p class="h2 text-center mb-3">Iniciar sesión</p>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input id="email" name="email" type="email" class="form-control" formControlName="email">
                <p class="error" *ngIf="checkControl('email', 'required')">El campo es requerido</p>
                <p class="error" *ngIf="checkControl('email', 'pattern')">El email tiene formato incorrecto</p>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Contraseña</label>
                <input id="password" name="password" type="password" class="form-control" formControlName="password">
                <p class="error" *ngIf="checkControl('password', 'required')">El campo es requerido</p>
                <p class="error" *ngIf="checkControl('password', 'minlength')">La longitud mínima es de 3 caracteres</p>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-principal" [disabled]="!formLogin.valid">Enviar</button>
            </div>
            <div class="error">{{ errorMessage }}</div>
            <div class="row mx-auto">
                <div class="btn mt-3 mb-3 text-center link_register" [routerLink]="['/auth/register']">
                    ¿No tienes cuenta aún? Regístrate
                </div>
            </div>
        </form>
    </div>
</div>