body {
    padding: 0;
    margin: 0;
}

.btn-principal {
    background-color: #60bbdd;
    color: white;
}

.btn-principal:hover {
    background-color: #216a92;
}

.w-logo {
    display: none;
}

.w-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #ececec;
    color: #216a92;
}

input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;
}

.error {
    color: tomato;
}

.link_register {
    color: #216a92;
}

.link_register:hover {
    color: #60bbdd;
}

@media screen and (min-width: 768px) {

    .w-logo {
        display: block;
        background-color: #60bbdd;
        color: white;
        height: 100vh;
        min-width: 50%;
    }
    
    .logo_img {
        max-width: 50%;
    }
    
    .w-form {
        min-width: 50%;
    }

}