    <div>
        <app-home-filters activo="Especialidad"></app-home-filters>
    <div class="fs-1 especialidad">{{ especialidad }}</div>
    <div class="fs-6 especialidad">{{ descripcion }} 
        <span class="badge rounded-pill text-bg-info me-1" *ngIf="es_infancia !== 0">Infancia</span> 
        <span class="badge rounded-pill text-bg-info" *ngIf="es_infancia !== 1">Adulto</span>
    </div>
    <hr />
    </div>


<div class="custom-container">
    <div class="custom-cards">
        <app-lista-logopedas></app-lista-logopedas>
    </div>
    <div class="custom-map">
        <app-mapalogopedas [ruta]="esp_id"></app-mapalogopedas>
    </div>
    
</div>