<div class="card" *ngIf="!logopeda?.status">
    <div class="card_wrapped">
      <div class="card_imagen">
        <img src="{{usuariosService.getAvatarCard(logopeda.imagen)}}"  width="110px" alt="imagenCliente">
      </div>
  
      <div class="card_information">
        <h5>{{logopeda?.nombre}} {{logopeda?.apellidos}}</h5>
        <ul class="card_list">
            <li><b>Email:</b> {{logopeda?.email}} </li>
            <li><b>Ubicación: </b> {{logopeda?.localidad}} - {{logopeda?.provincia}} </li>
            <li><b>Teléfono:</b> {{logopeda?.telefono}} </li>
            <li><b>Infancia o adulto:</b> {{logopeda?.infancia_o_adulto}}</li>
        </ul>
      </div>
    </div>
    
    <div class="card_solicitud">
      <button (click)="validar()" type="button" class="btn btn-success card_button">Aprobar</button>
      <button (click)="rechazar()" type="button" class="btn btn-danger card-button">Rechazar</button>
    </div>
  </div>