.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #cfddc7;
    border-radius: 1cap;
    overflow: hidden;
}

.btn-principal {
    background-color: #216a92;
    color: white;
}

.btn-principal:hover {
    background-color: #216a92;
}