<div class="card mb-3" style="max-width: 960px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="../../../../../assets/images/foto.png" class="img-fluid img-thumbnail" alt="...">
            <p class="card-text text-center">{{miLogopeda.localidad}}</p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ miLogopeda.nombre }} {{ miLogopeda.apellidos }}</h5>
                <p class="card-text">{{miLogopeda.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Experiencia {{miLogopeda.experiencia}} años</small></p>
            </div>
            <div class="card-footer bg-transparent m-auto border-opacity-10" *ngIf="usuariosService.isLogged()">
                <div class="wfooter">
                    <div class="">
                        <p class=""><strong>Precio/hora: </strong> {{miLogopeda.precio | currency :'EUR'}}</p>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-principal"
                            (click)="contactarLogopeda(miLogopeda.id)">Contactar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>