.btn-principal, .btn-inactive {
    background-color: #60bbdd;
    color: white;
}

.btn-principal:hover, .btn-inactive:hover {
    background-color: #216a92;
}

.btn-active {
    background-color: #216a92;
    color: white;
}

input, select, textarea {
    background-color: #ececec;
    color: #216a92;
}

input.ng-invalid.ng-touched {
    border: 1px solid tomato;
}

input.ng-valid.ng-touched {
    border-bottom: 1px solid #B8DFA2;
}

.form-check-input:checked {
    background-color: #216a92;
    border-color: #216a92;
}

.error {
    color: tomato;
    font-size: 0.75em;
}

.required {
    color: tomato;
}

.link_register {
    color: #216a92;
}

.link_register:hover {
    color: #60bbdd;
}